{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ENKD55Y0RD"></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag() {
      dataLayer.push(arguments)
    }
    gtag('js', new Date())

    gtag('config', 'G-ENKD55Y0RD')
  </script>
  <link rel="icon" type="image/x-icon" href="{% static 'my_app/images/favicon.ico' %}?v=5" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'my_app/images/favicon.ico' %}?v=5" />
  <link rel="icon" type="image/svg+xml" href="{% static 'my_app/images/FAVICON_114x114.svg' %}" />
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'my_app/images/FAVICON_114x114.png' %}" />
  
  <title>
    {% block title %}

    {% endblock %}
  </title>

  <meta name="description" content="{% block description %}
    {% endblock %}" />

  {% block image %}

  {% endblock %}

  <meta name="csrf-token" content="{{ csrf_token }}" />
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  
  <script src="{% static 'my_app/tailwind/tailwindcss.js' %}"></script>
  {% comment %}
  <script>
    tailwind.config = { prefix: 'tw-' }
  </script> {% endcomment %}
  {% block extra_head %}

  {% endblock %}
  {% comment %}This will prevent the sceen flicker when the page loads{% endcomment %}
  <style>
    [x-cloak] {
      display: none !important;
    }
  </style>
</head>
<body class="text-xs" data-user-premium="{{ request.user.profile.is_premium_member|default:False|lower }}" data-user-authenticated="{{ request.user.is_authenticated|lower }}">
  <header>
    {% block header %}

    {% endblock %}
  </header>
  <main>
    {% block content %}

    {% endblock %}
  </main>
  <footer>
    {% block footer %}

    {% endblock %}
  </footer>
</body>
</html>